body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e2ded2;
    color: darkslategrey;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 50px;
    vertical-align: middle;
}

main {
    margin: 20px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #84a997;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7A9C8C;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li .acoes {
    display: flex;
    gap: 10px;
}

ul li .acoes button {
    background-color: #A0C1CF;
    color: white;
}

ul li .acoes button:hover {
    background-color: #89A5B1;
}

img{
    width: 100px;
}